header {
  height: 40px;
  width: 100%;
  background-color: #f2f2f2;
}

.logo-nicepage {
  margin-right: 40%;
  height: 40px;
}

.title {
  color: #c4c4c4;
  margin-left: 30%;
  align-items: flex-start;
}

.iconmenu {
  align-items: flex-end;
  margin-left: 30%;
  width: 20px;
  height: 20px;
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

section{
  background-image: url("../img/modelo-mulher.jpg");
  
  height: 700px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.Roboto {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 200;
  width: 601;
  text-align: left;
  text-transform: uppercase;
  color: white;
}

.service {
  font-family: 'Archivo Black', sans-serif;
  font-size: 96px;
  border-bottom: 10px solid white;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 301;
  text-align: left;
  text-transform: uppercase;
  color: white;
}

footer {
  padding: 10px;
  text-align: center;
  align-content: center;
}

.div-nossos-servicos {
  margin-top: 50px;
}

.nossos-servicos {
  font-family: 'Roboto';
  font-size: 15px;
  color: #c2c3c8;
  text-align: center;
  margin: 2px;
}

.ajuda {
  font-family: 'Roboto';
  font-size: 25px;
  text-align: center;
  margin: 15px;
}

.agendar {
  font-family: 'Roboto';
  font-size: 15px;
  text-align: center;
  margin: 20px;
}

button {
  border: 0;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto';
  color: #ffff;
  background-color: #eb1725;
}