@page
@model IndexModel
@{
    ViewData["Title"] = "Prova Desenvolvimento Web";
}


<header class="header">
    <div class="row">
        <img class="logo-nicepage" src="img/logo-nicepage.png">
        <nav class="row" style="gap: 15px;">
            <a href=""><img width="32px" height="32px" src="img/img1.png"></a>
            <a href=""><img width="32px" height="32px" src="img/img2.png"></a>
            <a href=""><img width="32px" height="32px" src="img/img3.png"></a>
            <a href=""><img width="32px" height="32px" src="img/img4.png"></a>
            <a href=""><img width="32px" height="32px" src="img/img5.png"></a>
        </nav>
    </div>
</header>

<div class="row">
    <h2 class="title">logo</h2>
    <img class="iconmenu" src="img/menu.png" />
</div>

<div class="row">
    <article>
        <section>
            <section class="section">
                <p class="section-title">CONSERTO DE</p>
            </section>
            <section class="section">
                <p class="section-title">CASA</p>
            </section>
            <section class="section">
                <p class="section-title service">SERVIÇOS</p>
            </section>
            <section class="section">
                <img class="section-img quadro" width="62px" height="62px" src="img/quadro.png">
                <img class="section-img limpeza" width="62px" height="62px" src="img/limpeza.png">
                <img class="section-img encanamento" width="62px" height="62px" src="img/encanamento.png">
            </section>
        </section>
    </article>
</div>

<footer>
    <div class="div-nossos-servicos">
        <p class="nossos-servicos">NOSSOS</p>
        <p class="nossos-servicos">SERVIÇOS</p>
    </div>
    <h3 class="ajuda">Como podemos ajudar?</h3>
    <p class="agendar">Somos especializados em tomar as experiencias de manutenção de rotina e reparos </br>
        de emergencia sem preocupações. Ligue para nós hoje para saber como nosso <br>
        processo é realmente simples
    </p>
    <button class="button" onclick="Redirecionado()">AGENDE AGORA</button>
</footer>
